// All the SCSS Variables goes here
$header-font-size: 1rem;
// Fonts
$font-size-base: 1rem;
$font-family: 'Josefin Sans',
sans-serif;
$font-bold: 500;
// Border-radius
$border-radius: 12px;
$rounded-circle: 50%;
// Header
$sidebar-nav-padding-x: 1.5rem;
$sidebar-nav-padding-y: 1rem;
$badge-size: 6px;
$profile-img-size: 30px;
$badge-icon-size: 14px;