// // All the SCSS Variables goes here

// Fonts
$font-size-base: 1.5rem;
$font-family: 'Poppins', sans-serif;

// sans-serif;
// // $font-bold: 500;

// Border-radius
$border-radius: 10px;
$rounded-circle: 50%;

// Header
$profile-img-size: 30px;
$header-font-size: 1.5rem;

$header-padding: 20px;
$header-padding-y: 1.5rem;

// grey-line
$line-gray-1: 1px solid $grey-line;

// Sidebar font size
$sidebar-font-size: 1.5rem;

// Card
$card-padding: 1rem;

$inner-card-width: 50px;
$inner-card-height: 50px;
// $card-font: $accent-grey,small;

$main-padding: 20px;

