// Button styles goes here

.btn{
    background-color: $primary;
    color: $white;
    font-size: medium;
    outline-color: none;
    outline: 0px;
    border: none;
    height: 45px;
    width: 100px;
}