// Card styles goes here

.card-wrapper {
    // margin: 0 -22px;
    flex-wrap: wrap;
}
    .card{
        margin-right: 0 10px;
        flex-basis: 25%;
        padding-left: 24px;
        &:first-child{
            padding-left: 0%;
        }
        
        
        .card-icon-box{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 60px;
                    width: 60px;
                    margin: 10px;
                    
                    font-size: $font-size-base;
        }

        .card-icon-box-1{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            width: 60px;
            margin: 10px;
            font-size: $font-size-base;
}
        
        &-title {
            font-weight: 300;
            padding: .75rem 0;
            color: $accent-grey;
        }
        &-counts {
            padding: .70 rem 0;
            padding-bottom: 10px;
        }
        &-timeframe {
            border-top: $line-gray-1;
            color: $accent-grey;
            padding-top: 10px;
            font-size: medium;
        }
        
        .card-box{
            
            background-color: $extra-light;
            padding: 18px;
        }
    
        // .card-icon-box{
        //         display: flex;
        //         justify-content: center;
        //         align-items: center;
        //         height: 60px;
        //         width: 60px;
        //         background-color: rgba(168, 165, 165, 0.212);
        //         font-size: $font-size-base;
    
        // .card-font{
        //     padding: 1rem;
        //     // font: $card-font;
        // } 
                
            
        // }
        
    }

    // media query for xxl
    @include responsive ('md'){
        .card {
            flex-basis: 50%;
        }
    }
