// Card styles goes here

.card{
    
    width: 25%;
    padding: 12px;
    
    .card-box{
        padding: 10px;
        background-color: $extra-light;
    }

    .card-icon-box{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            width: 60px;
            background-color: rgba(168, 165, 165, 0.212);
            font-size: $font-size-base;

    .card-font{
        font: $card-font;
    } 
            
        
    }
}